# Core Libraries
metaflow
pre-commit

# Database
duckdb

# Machine Learning
sagemaker
gensim
pyarrow
tensorflow
tensorflow-recommenders
scikit-learn

# Data Visualization
notebook
matplotlib
seaborn

# Data Analysis
powerlaw
pandas

# Code Quality
pylint
