# Core Libraries
metaflow

# Code Quality
pre-commit
pylint

# Data Analysis
powerlaw
pandas
pyarrow
scipy==1.11.0

# Data Visualization
notebook
matplotlib
seaborn

# Database
duckdb

# Machine Learning
# sagemaker
gensim==4.3.2
# tensorflow
# tensorflow-recommenders
# scikit-learn==1.1.2
